:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'PixelFont';
  src: url('../assets/pixel-font.ttf') format('truetype');
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(55, 61, 86, 1);
  color: #ffffff;
  margin: 0;
  image-rendering: pixelated;
    overflow-x: hidden; /* Блокирует горизонтальный скролл */
  width: 100%; 
}
